# Gather

In [1]:
import requests
import os
import pandas as pd
import tweepy
import json
import numpy as np

In [2]:
url='https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

In [3]:
with open(url.split('/')[-1],mode='wb') as file:
        file.write(response.content)

In [4]:
df_twarch=pd.read_csv('twitter-archive-enhanced.csv')

In [5]:
df_imagepred=pd.read_csv('image-predictions.tsv','\t')

In [6]:
consumer_key = 'uEo1eS6FLvbxZzmJxOzfIFnK0'
consumer_secret = 'zxPBI4OiwQzEBZFWcvXqVpMuhMqhDAqkGILqMkIWv6hciIBLfa'
access_token = '2524716858-uOTHDTuVWjCKUvHWgI2iPQcL79zeqwxybtnIdud'
access_secret = 'MdXhZwyGPVvWiPqdOVpIv0rAND9qGJ0gINgjqqbmdEf3B'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

In [22]:
countWrittenTweets=0
countNotWrittenTweets=0
with open('tweet_json.txt','w',encoding='utf-8') as outfile:
    for id in df_twarch.tweet_id:
        try:
            tweet=api.get_status(id, tweet_mode='extended',wait_on_rate_limit=True,wait_on_rate_limit_notify=True)
            json.dump(tweet._json,outfile)
            outfile.write('\n')
            countWrittenTweets+=1
        except:
            countNotWrittenTweets+=1
            continue
print('Number of tweets data written to file: ',countWrittenTweets,'\nNumber of tweets data not written to file: ',countNotWrittenTweets)

Rate limit reached. Sleeping for: 581
Rate limit reached. Sleeping for: 738
Rate limit reached. Sleeping for: 735
Number of tweets data written to file:  2341
Number of tweets data not written to file:  15

In [7]:
with open('tweet_json.txt','r',encoding='utf-8') as file:
    l=file.readline()
    json.loads(l)

In [8]:
tweet_ids=[]
tweet_favcount=[]
tweet_retweetcount=[]
with open('tweet_json.txt','r',encoding='utf-8') as file:
    for line in file.readlines(): #Read all lines to iterate line by line
        data=json.loads(line)
        tweet_ids.append(data['id'])
        tweet_favcount.append(data['favorite_count'])
        tweet_retweetcount.append(data['retweet_count'])

In [9]:
tweets_info=pd.DataFrame()

In [10]:
tweets_info['tweet_id']=tweet_ids
tweets_info['fav_count']=tweet_favcount
tweets_info['retweet_count']=tweet_retweetcount

# Assess

In [11]:
tweets_info.head()

             tweet_id  fav_count  retweet_count
0  892420643555336193      38421           8444
1  892177421306343426      32917           6222
2  891815181378084864      24804           4123
3  891689557279858688      41774           8574
4  891327558926688256      39935           9302

In [12]:
tweets_info.tail()

                tweet_id  fav_count  retweet_count
2336  666049248165822465        109             40
2337  666044226329800704        298            141
2338  666033412701032449        125             44
2339  666029285002620928        129             47
2340  666020888022790149       2556            511

In [13]:
tweets_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 3 columns):
tweet_id         2341 non-null int64
fav_count        2341 non-null int64
retweet_count    2341 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

In [14]:
tweets_info.describe()

           tweet_id      fav_count  retweet_count
count  2.341000e+03    2341.000000    2341.000000
mean   7.422089e+17    8031.070056    2973.649295
std    6.833609e+16   12362.570799    4982.405222
min    6.660209e+17       0.000000       0.000000
25%    6.783411e+17    1390.000000     598.000000
50%    7.186133e+17    3503.000000    1392.000000
75%    7.986979e+17    9867.000000    3470.000000
max    8.924206e+17  164706.000000   84566.000000

In [16]:
sum(tweets_info.duplicated())

0

In [17]:
tweets_info[tweets_info['tweet_id'].duplicated()]

Empty DataFrame
Columns: [tweet_id, fav_count, retweet_count]
Index: []

### Twitter Archive Dataframe

In [18]:
df_twarch.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [19]:
df_twarch.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [19]:
df_twarch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [20]:
list(df_twarch.name.unique())

['Phineas',
 'Tilly',
 'Archie',
 'Darla',
 'Franklin',
 'None',
 'Jax',
 'Zoey',
 'Cassie',
 'Koda',
 'Bruno',
 'Ted',
 'Stuart',
 'Oliver',
 'Jim',
 'Zeke',
 'Ralphus',
 'Canela',
 'Gerald',
 'Jeffrey',
 'such',
 'Maya',
 'Mingus',
 'Derek',
 'Roscoe',
 'Waffles',
 'Jimbo',
 'Maisey',
 'Lilly',
 'Earl',
 'Lola',
 'Kevin',
 'Yogi',
 'Noah',
 'Bella',
 'Grizzwald',
 'Rusty',
 'Gus',
 'Stanley',
 'Alfy',
 'Koko',
 'Rey',
 'Gary',
 'a',
 'Elliot',
 'Louis',
 'Jesse',
 'Romeo',
 'Bailey',
 'Duddles',
 'Jack',
 'Emmy',
 'Steven',
 'Beau',
 'Snoopy',
 'Shadow',
 'Terrance',
 'Aja',
 'Penny',
 'Dante',
 'Nelly',
 'Ginger',
 'Benedict',
 'Venti',
 'Goose',
 'Nugget',
 'Cash',
 'Coco',
 'Jed',
 'Sebastian',
 'Walter',
 'Sierra',
 'Monkey',
 'Harry',
 'Kody',
 'Lassie',
 'Rover',
 'Napolean',
 'Dawn',
 'Boomer',
 'Cody',
 'Rumble',
 'Clifford',
 'quite',
 'Dewey',
 'Scout',
 'Gizmo',
 'Cooper',
 'Harold',
 'Shikha',
 'Jamesy',
 'Lili',
 'Sammy',
 'Meatball',
 'Paisley',
 'Albus',
 'Neptune',
 'Quinn',
 'Belle',
 'Zooey',
 'Dave',
 'Jersey',
 'Hobbes',
 'Burt',
 'Lorenzo',
 'Carl',
 'Jordy',
 'Milky',
 'Trooper',
 'Winston',
 'Sophie',
 'Wyatt',
 'Rosie',
 'Thor',
 'Oscar',
 'Luna',
 'Callie',
 'Cermet',
 'George',
 'Marlee',
 'Arya',
 'Einstein',
 'Alice',
 'Rumpole',
 'Benny',
 'Aspen',
 'Jarod',
 'Wiggles',
 'General',
 'Sailor',
 'Astrid',
 'Iggy',
 'Snoop',
 'Kyle',
 'Leo',
 'Riley',
 'Gidget',
 'Noosh',
 'Odin',
 'Jerry',
 'Charlie',
 'Georgie',
 'Rontu',
 'Cannon',
 'Furzey',
 'Daisy',
 'Tuck',
 'Barney',
 'Vixen',
 'Jarvis',
 'Mimosa',
 'Pickles',
 'Bungalo',
 'Brady',
 'Margo',
 'Sadie',
 'Hank',
 'Tycho',
 'Stephan',
 'Indie',
 'Winnie',
 'Bentley',
 'Ken',
 'Max',
 'Maddie',
 'Pipsy',
 'Monty',
 'Sojourner',
 'Odie',
 'Arlo',
 'Sunny',
 'Vincent',
 'Lucy',
 'Clark',
 'Mookie',
 'Meera',
 'Buddy',
 'Ava',
 'Rory',
 'Eli',
 'Ash',
 'Tucker',
 'Tobi',
 'Chester',
 'Wilson',
 'Sunshine',
 'Lipton',
 'Gabby',
 'Bronte',
 'Poppy',
 'Rhino',
 'Willow',
 'not',
 'Orion',
 'Eevee',
 'Smiley',
 'Logan',
 'Moreton',
 'Klein',
 'Miguel',
 'Emanuel',
 'Kuyu',
 'Dutch',
 'Pete',
 'Scooter',
 'Reggie',
 'Kyro',
 'Samson',
 'Loki',
 'Mia',
 'Malcolm',
 'Dexter',
 'Alfie',
 'Fiona',
 'one',
 'Mutt',
 'Bear',
 'Doobert',
 'Beebop',
 'Alexander',
 'Sailer',
 'Brutus',
 'Kona',
 'Boots',
 'Ralphie',
 'Phil',
 'Cupid',
 'Pawnd',
 'Pilot',
 'Ike',
 'Mo',
 'Toby',
 'Sweet',
 'Pablo',
 'Nala',
 'Balto',
 'Crawford',
 'Gabe',
 'Mattie',
 'Jimison',
 'Hercules',
 'Duchess',
 'Harlso',
 'Sampson',
 'Sundance',
 'Luca',
 'Flash',
 'Finn',
 'Peaches',
 'Howie',
 'Jazzy',
 'Anna',
 'Bo',
 'Seamus',
 'Wafer',
 'Chelsea',
 'Tom',
 'Moose',
 'Florence',
 'Autumn',
 'Dido',
 'Eugene',
 'Herschel',
 'Strudel',
 'Tebow',
 'Chloe',
 'Betty',
 'Timber',
 'Binky',
 'Dudley',
 'Comet',
 'Larry',
 'Levi',
 'Akumi',
 'Titan',
 'Olivia',
 'Alf',
 'Oshie',
 'Bruce',
 'Chubbs',
 'Sky',
 'Atlas',
 'Eleanor',
 'Layla',
 'Rocky',
 'Baron',
 'Tyr',
 'Bauer',
 'Swagger',
 'Brandi',
 'Mary',
 'Moe',
 'Halo',
 'Augie',
 'Craig',
 'Sam',
 'Hunter',
 'Pavlov',
 'Maximus',
 'Wallace',
 'Ito',
 'Milo',
 'Ollie',
 'Cali',
 'Lennon',
 'incredibly',
 'Major',
 'Duke',
 'Reginald',
 'Sansa',
 'Shooter',
 'Django',
 'Diogi',
 'Sonny',
 'Philbert',
 'Marley',
 'Severus',
 'Ronnie',
 'Anakin',
 'Bones',
 'Mauve',
 'Chef',
 'Doc',
 'Sobe',
 'Longfellow',
 'Mister',
 'Iroh',
 'Baloo',
 'Stubert',
 'Paull',
 'Timison',
 'Davey',
 'Pancake',
 'Tyrone',
 'Snicku',
 'Ruby',
 'Brody',
 'Rizzy',
 'Mack',
 'Butter',
 'Nimbus',
 'Laika',
 'Dobby',
 'Juno',
 'Maude',
 'Lily',
 'Newt',
 'Benji',
 'Nida',
 'Robin',
 'Monster',
 'BeBe',
 'Remus',
 'Mabel',
 'Misty',
 'Happy',
 'Mosby',
 'Maggie',
 'Leela',
 'Ralphy',
 'Brownie',
 'Meyer',
 'Stella',
 'mad',
 'Frank',
 'Tonks',
 'Lincoln',
 'Oakley',
 'Dale',
 'Rizzo',
 'Arnie',
 'Pinot',
 'Dallas',
 'Hero',
 'Frankie',
 'Stormy',
 'Mairi',
 'Loomis',
 'Godi',
 'Kenny',
 'Deacon',
 'Timmy',
 'Harper',
 'Chipson',
 'Combo',
 'Dash',
 'Bell',
 'Hurley',
 'Jay',
 'Mya',
 'Strider',
 'an',
 'Wesley',
 'Solomon',
 'Huck',
 'very',
 'O',
 'Blue',
 'Finley',
 'Sprinkles',
 'Heinrich',
 'Shakespeare',
 'Fizz',
 'Chip',
 'Grey',
 'Roosevelt',
 'Gromit',
 'Willem',
 'Dakota',
 'Dixie',
 'Al',
 'Jackson',
 'just',
 'Carbon',
 'DonDon',
 'Kirby',
 'Lou',
 'Nollie',
 'Chevy',
 'Tito',
 'Louie',
 'Rupert',
 'Rufus',
 'Brudge',
 'Shadoe',
 'Colby',
 'Angel',
 'Brat',
 'Tove',
 'my',
 'Aubie',
 'Kota',
 'Eve',
 'Glenn',
 'Shelby',
 'Sephie',
 'Bonaparte',
 'Albert',
 'Wishes',
 'Rose',
 'Theo',
 'Rocco',
 'Fido',
 'Emma',
 'Spencer',
 'Lilli',
 'Boston',
 'Brandonald',
 'Corey',
 'Leonard',
 'Chompsky',
 'Beckham',
 'Devón',
 'Gert',
 'Watson',
 'Rubio',
 'Keith',
 'Dex',
 'Carly',
 'Ace',
 'Tayzie',
 'Grizzie',
 'Fred',
 'Gilbert',
 'Zoe',
 'Stewie',
 'Calvin',
 'Lilah',
 'Spanky',
 'Jameson',
 'Piper',
 'Atticus',
 'Blu',
 'Dietrich',
 'Divine',
 'Tripp',
 'his',
 'Cora',
 'Huxley',
 'Keurig',
 'Bookstore',
 'Linus',
 'Abby',
 'Shaggy',
 'Shiloh',
 'Gustav',
 'Arlen',
 'Percy',
 'Lenox',
 'Sugar',
 'Harvey',
 'Blanket',
 'actually',
 'Geno',
 'Stark',
 'Beya',
 'Kilo',
 'Kayla',
 'Maxaroni',
 'Doug',
 'Edmund',
 'Aqua',
 'Theodore',
 'Chase',
 'getting',
 'Rorie',
 'Simba',
 'Charles',
 'Bayley',
 'Axel',
 'Storkson',
 'Remy',
 'Chadrick',
 'Kellogg',
 'Buckley',
 'Livvie',
 'Terry',
 'Hermione',
 'Ralpher',
 'Aldrick',
 'this',
 'unacceptable',
 'Rooney',
 'Crystal',
 'Ziva',
 'Stefan',
 'Pupcasso',
 'Puff',
 'Flurpson',
 'Coleman',
 'Enchilada',
 'Raymond',
 'all',
 'Rueben',
 'Cilantro',
 'Karll',
 'Sprout',
 'Blitz',
 'Bloop',
 'Lillie',
 'Ashleigh',
 'Kreggory',
 'Sarge',
 'Luther',
 'Ivar',
 'Jangle',
 'Schnitzel',
 'Panda',
 'Berkeley',
 'Ralphé',
 'Charleson',
 'Clyde',
 'Harnold',
 'Sid',
 'Pippa',
 'Otis',
 'Carper',
 'Bowie',
 'Alexanderson',
 'Suki',
 'Barclay',
 'Skittle',
 'Ebby',
 'Flávio',
 'Smokey',
 'Link',
 'Jennifur',
 'Ozzy',
 'Bluebert',
 'Stephanus',
 'Bubbles',
 'old',
 'Zeus',
 'Bertson',
 'Nico',
 'Michelangelope',
 'Siba',
 'Calbert',
 'Curtis',
 'Travis',
 'Thumas',
 'Kanu',
 'Lance',
 'Opie',
 'Kane',
 'Olive',
 'Chuckles',
 'Staniel',
 'Sora',
 'Beemo',
 'Gunner',
 'infuriating',
 'Lacy',
 'Tater',
 'Olaf',
 'Cecil',
 'Vince',
 'Karma',
 'Billy',
 'Walker',
 'Rodney',
 'Klevin',
 'Malikai',
 'Bobble',
 'River',
 'Jebberson',
 'Remington',
 'Farfle',
 'Jiminus',
 'Clarkus',
 'Finnegus',
 'Cupcake',
 'Kathmandu',
 'Ellie',
 'Katie',
 'Kara',
 'Adele',
 'Zara',
 'Ambrose',
 'Jimothy',
 'Bode',
 'Terrenth',
 'Reese',
 'Chesterson',
 'Lucia',
 'Bisquick',
 'Ralphson',
 'Socks',
 'Rambo',
 'Rudy',
 'Fiji',
 'Rilo',
 'Bilbo',
 'Coopson',
 'Yoda',
 'Millie',
 'Chet',
 'Crouton',
 'Daniel',
 'Kaia',
 'Murphy',
 'Dotsy',
 'Eazy',
 'Coops',
 'Fillup',
 'Miley',
 'Charl',
 'Reagan',
 'Yukon',
 'CeCe',
 'Cuddles',
 'Claude',
 'Jessiga',
 'Carter',
 'Ole',
 'Pherb',
 'Blipson',
 'Reptar',
 'Trevith',
 'Berb',
 'Bob',
 'Colin',
 'Brian',
 'Oliviér',
 'Grady',
 'Kobe',
 'Freddery',
 'Bodie',
 'Dunkin',
 'Wally',
 'Tupawc',
 'Amber',
 'Edgar',
 'Teddy',
 'Kingsley',
 'Brockly',
 'Richie',
 'Molly',
 'Vinscent',
 'Cedrick',
 'Hazel',
 'Lolo',
 'Eriq',
 'Phred',
 'the',
 'Oddie',
 'Maxwell',
 'Geoff',
 'Covach',
 'Durg',
 'Fynn',
 'Ricky',
 'Herald',
 'Lucky',
 'Ferg',
 'Trip',
 'Clarence',
 'Hamrick',
 'Brad',
 'Pubert',
 'Frönq',
 'Derby',
 'Lizzie',
 'Ember',
 'Blakely',
 'Opal',
 'Marq',
 'Kramer',
 'Barry',
 'Gordon',
 'Baxter',
 'Mona',
 'Horace',
 'Crimson',
 'Birf',
 'Hammond',
 'Lorelei',
 'Marty',
 'Brooks',
 'Petrick',
 'Hubertson',
 'Gerbald',
 'Oreo',
 'Bruiser',
 'Perry',
 'Bobby',
 'Jeph',
 'Obi',
 'Tino',
 'Kulet',
 'Sweets',
 'Lupe',
 'Tiger',
 'Jiminy',
 'Griffin',
 'Banjo',
 'Brandy',
 'Lulu',
 'Darrel',
 'Taco',
 'Joey',
 'Patrick',
 'Kreg',
 'Todo',
 'Tess',
 'Ulysses',
 'Toffee',
 'Apollo',
 'Asher',
 'Glacier',
 'Chuck',
 'Champ',
 'Ozzie',
 'Griswold',
 'Cheesy',
 'Moofasa',
 'Hector',
 'Goliath',
 'Kawhi',
 'by',
 'Emmie',
 'Penelope',
 'Willie',
 'Rinna',
 'Mike',
 'William',
 'Dwight',
 'Evy',
 'officially',
 'Rascal',
 'Linda',
 'Tug',
 'Tango',
 'Grizz',
 'Jerome',
 'Crumpet',
 'Jessifer',
 'Izzy',
 'Ralph',
 'Sandy',
 'Humphrey',
 'Tassy',
 'Juckson',
 'Chuq',
 'Tyrus',
 'Karl',
 'Godzilla',
 'Vinnie',
 'Kenneth',
 'Herm',
 'Bert',
 'Striker',
 'Donny',
 'Pepper',
 'Bernie',
 'Buddah',
 'Lenny',
 'Arnold',
 'Zuzu',
 'Mollie',
 'Laela',
 'Tedders',
 'Superpup',
 'Rufio',
 'Jeb',
 'Rodman',
 'Jonah',
 'Chesney',
 'life',
 'Henry',
 'Bobbay',
 'Mitch',
 'Kaiya',
 'Acro',
 'Aiden',
 'Obie',
 'Dot',
 'Shnuggles',
 'Kendall',
 'Jeffri',
 'Steve',
 'Mac',
 'Fletcher',
 'Kenzie',
 'Pumpkin',
 'Schnozz',
 'Gustaf',
 'Cheryl',
 'Ed',
 'Leonidas',
 'Norman',
 'Caryl',
 'Scott',
 'Taz',
 'Darby',
 'Jackie',
 'light',
 'Jazz',
 'Franq',
 'Pippin',
 'Rolf',
 'Snickers',
 'Ridley',
 'Cal',
 'Bradley',
 'Bubba',
 'Tuco',
 'Patch',
 'Mojo',
 'Batdog',
 'Dylan',
 'space',
 'Mark',
 'JD',
 'Alejandro',
 'Scruffers',
 'Pip',
 'Julius',
 'Tanner',
 'Sparky',
 'Anthony',
 'Holly',
 'Jett',
 'Amy',
 'Sage',
 'Andy',
 'Mason',
 'Trigger',
 'Antony',
 'Creg',
 'Traviss',
 'Gin',
 'Jeffrie',
 'Danny',
 'Ester',
 'Pluto',
 'Bloo',
 'Edd',
 'Willy',
 'Herb',
 'Damon',
 'Peanut',
 'Nigel',
 'Butters',
 'Sandra',
 'Fabio',
 'Randall',
 'Liam',
 'Tommy',
 'Ben',
 'Raphael',
 'Julio',
 'Andru',
 'Kloey',
 'Shawwn',
 'Skye',
 'Kollin',
 'Ronduh',
 'Billl',
 'Saydee',
 'Dug',
 'Tessa',
 'Sully',
 'Kirk',
 'Ralf',
 'Clarq',
 'Jaspers',
 'Samsom',
 'Harrison',
 'Chaz',
 'Jeremy',
 'Jaycob',
 'Lambeau',
 'Ruffles',
 'Amélie',
 'Bobb',
 'Banditt',
 'Kevon',
 'Winifred',
 'Hanz',
 'Churlie',
 'Zeek',
 'Timofy',
 'Maks',
 'Jomathan',
 'Kallie',
 'Marvin',
 'Spark',
 'Gòrdón',
 'Jo',
 'DayZ',
 'Jareld',
 'Torque',
 'Ron',
 'Skittles',
 'Cleopatricia',
 'Erik',
 'Stu',
 'Tedrick',
 'Filup',
 'Kial',
 'Naphaniel',
 'Dook',
 'Hall',
 'Philippe',
 'Biden',
 'Fwed',
 'Genevieve',
 'Joshwa',
 'Bradlay',
 'Clybe',
 'Keet',
 'Carll',
 'Jockson',
 'Josep',
 'Lugan',
 'Christoper']

In [21]:
df_twarch.query('name=="O"').text

775    This is O'Malley. That is how he sleeps. Doesn...
Name: text, dtype: object

In [22]:
list(df_twarch.query('name=="very"').text)

['RT @dog_rates: We only rate dogs. Pls stop sending in non-canines like this Mongolian grass snake. This is very frustrating. 11/10 https://…',
 'We only rate dogs. Pls stop sending in non-canines like this Arctic Floof Kangaroo. This is very frustrating. 11/10 https://t.co/qlUDuPoE3d',
 'We only rate dogs. Pls stop sending in non-canines like this Jamaican Flop Seal. This is very very frustrating. 9/10 https://t.co/nc53zEN0hZ',
 'We only rate dogs. Please stop sending in non-canines like this Alaskan Flop Turtle. This is very frustrating. 10/10 https://t.co/qXteK6Atxc',
 'We only rate dogs. Pls stop sending in non-canines like this Mongolian grass snake. This is very frustrating. 11/10 https://t.co/22x9SbCYCU']

In [23]:
list(df_twarch.expanded_urls.head())

['https://twitter.com/dog_rates/status/892420643555336193/photo/1',
 'https://twitter.com/dog_rates/status/892177421306343426/photo/1',
 'https://twitter.com/dog_rates/status/891815181378084864/photo/1',
 'https://twitter.com/dog_rates/status/891689557279858688/photo/1',
 'https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1']

In [24]:
sum(df_twarch.expanded_urls.isnull())

59

In [25]:
df_twarch[df_twarch.expanded_urls.isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
185,856330835276025856,NaN,NaN,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Jenna_Marbles: @dog_rates Thanks for ratin...,8.563302e+17,66699013.0,2017-04-24 02:13:14 +0000,NaN,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
375,828361771580813312,NaN,NaN,2017-02-05 21:56:51 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Beebop and Doobert should start a band 12/10 w...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I was going to do 007/10, but the joke wasn't ...",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
409,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@HistoryInPics 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
427,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@imgur for a polar bear tho I'd say 13/10 is a...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
498,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
513,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I've been informed that Augie was act...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
570,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
576,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@SkyWilliams doggo simply protecting you from ...,NaN,NaN,NaN,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@JODYHiGHROLLER it may be an 11/10 but what do...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
701,786051337297522688,7.727430e+17,7.305050e+17,2016-10-12 03:50:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 for breakdancing puppo @shibbnbot,NaN,NaN,NaN,NaN,13,10,None,None,None,None,puppo
707,785515384317313025,NaN,NaN,2016-10-10 16:20:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Today, 10/10, should be National Dog Rates Day",NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
843,766714921925144576,7.667118e+17,4.196984e+09,2016-08-19 19:14:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",His name is Charley and he already has a new s...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
857,763956972077010945,7.638652e+17,1.584641e+07,2016-08-12 04:35:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@TheEllenShow I'm not sure if you know this bu...,NaN,NaN,NaN,NaN,12,10,None,doggo,None,None,None
967,750381685133418496,7.501805e+17,4.717297e+09,2016-07-05 17:31:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 such a good doggo\n@spaghemily,NaN,NaN,NaN,NaN,13,10,None,doggo,None,None,None
1005,747651430853525504,7.476487e+17,4.196984e+09,2016-06-28 04:42:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Other pupper asked not to have his identity sh...,NaN,NaN,NaN,NaN,12,10,None,None,None,pupper,None
1080,738891149612572673,7.384119e+17,3.589728e+08,2016-06-04 00:32:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@mount_alex3 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1295,707983188426153984,7.079801e+17,2.319108e+09,2016-03-10 17:35:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@serial @MrRoles OH MY GOD I listened to all o...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1345,704491224099647488,7.044857e+17,2.878549e+07,2016-03-01 02:19:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 hero af\n@ABC,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1445,696518437233913856,NaN,NaN,2016-02-08 02:18:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my god 10/10 for every little hot dog pupper,NaN,NaN,NaN,NaN,10,10,None,None,None,pupper,None
1446,696490539101908992,6.964887e+17,4.196984e+09,2016-02-08 00:27:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After reading the comments I may have overesti...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
1474,693644216740769793,6.936422e+17,4.196984e+09,2016-01-31 03:57:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",BREAKING PUPDATE: I've just been notified that...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
1479,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Personally I'd give him an 11/10. Not sure why...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1523,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 @LightningHoltt,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

In [29]:
list(df_twarch.query('tweet_id==848213670039564288').text)

['Jerry just apuppologized to me. He said there was no ill-intent to the slippage. I overreacted I admit. Pupgraded to an 11/10 would pet']

In [26]:
df_twarch.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [37]:
df_twarch[df_twarch['text'].str.contains('Pupgraded|pupgraded|Pupdate|pupdate')].tweet_id

101     872668790621863937
149     863079547188785154
228     848213670039564288
234     847617282490613760
251     844979544864018432
498     813130366689148928
513     811647686436880384
1127    729838605770891264
Name: tweet_id, dtype: int64

In [24]:
df_twarch.query('rating_numerator==1776') ## Highest rated dog!!

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
979,749981277374128128,NaN,NaN,2016-07-04 15:00:45 +0000,"<a href=""https://about.twitter.com/products/tw...",This is Atticus. He's quite simply America af....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749981277...,1776,10,Atticus,None,None,None,None

In [25]:
df_twarch.query('rating_denominator==170') # Actually the rating for 17 dogs

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None

In [35]:
df_twarch.query('tweet_id==848212111729840128')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
229,848212111729840128,NaN,NaN,2017-04-01 16:35:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jerry. He's doing a distinguished tong...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/848212111...,6,10,Jerry,None,None,None,None

In [26]:
df_twarch.query('rating_denominator==11')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darrel. He just robbed a 7/11 and is i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,None,None,None,None

In [27]:
df_imagepred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [28]:
df_imagepred.tail()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [29]:
df_imagepred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [30]:
df_imagepred.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

### Quality

##### `Twitter Archive` table
- Missing name of dogs. Name of dogs are missing when the text does not start with "This is". 
- None values in names to be changed with NaN
- Name of a dog 'O' is actually O'Malley
- Stages of dogs are missing. Where there is no stage mentioned nothing could be done.
- Extract only the url from source column 
- Convert timestamp to datetime format from string
- Wrong ratings for some tweets. e.g denominator = 11 and 2
- Decimal ratings are wrongly extracted
- Enteries with retweet ids to be removed because they are retweets
- Enteries with no expanded urls don't have images so they will be removed

#### Tidiness
- Dog stages column to be created instead of 4 separate columns
- These columns will be removed since this info is not necessary: in_reply_to_status_id, in_reply_to_user_id retweeted_status_id, retweeted_status_user_id, non-null object
- 1 master dataframe to be created to combine all these 3 tables

# Clean

Creating copies of the 3 dataframes for cleaning

In [29]:
twinfo_clean = tweets_info.copy()
twarch_clean = df_twarch.copy()
imagepreds_clean = df_imagepred.copy()

## Define

- Find enteries where name is wrong or missing and replace by correct name where possible

## Code

In [30]:
#There are names starting with lowercases e.g 'a', 'quite', etc these which shows incorrect names
# Creating a mask for enteries where name is lower and containes the word named in text
lower_having_named = twarch_clean.name.str.islower() & twarch_clean.text.str.contains('named')

In [31]:
for i in twarch_clean[lower_having_named].index:
    temp = twarch_clean[lower_having_named].loc[i].text
    temp=pd.DataFrame([[temp]])
    twarch_clean.loc[i,'name'] = temp[0].str.extract('named\s(\w+)',expand=True)[0][0]

In [32]:
#Similarly creating mask for lowecase names with name following the phrase 'name is' in tweet text
lower_having_nameis = twarch_clean.name.str.islower() & twarch_clean.text.str.contains('name is')

In [33]:
for j in twarch_clean[lower_having_nameis].index:
    temp = twarch_clean[lower_having_nameis].loc[j].text
    temp=pd.DataFrame([[temp]])
    twarch_clean.loc[j,'name'] = temp[0].str.extract('name is\s(\w+)',expand=True)[0][0]

In [34]:
## Replacing the remaining lowercase names with None since names for them could not be extracted
name_is_lower = twarch_clean.name.str.islower() 
for k in twarch_clean[name_is_lower].index:
    twarch_clean.loc[k,'name'] = "None"

In [35]:
## Replacing all None with nan
twarch_clean.name=twarch_clean.name.replace('None',np.nan)

## Test

In [36]:
twarch_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          1524 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

## Define

- Find the index of O'Malley and replace

## Code

In [37]:
twarch_clean.loc[775,'name'] = "O'Malley"

In [38]:
twarch_clean.name=twarch_clean.name.replace('None',np.nan) # Replacing None with nans

## Test

In [39]:
twarch_clean.iloc[775]

tweet_id                                                     776201521193218049
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2016-09-14 23:30:38 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          This is O'Malley. That is how he sleeps. Doesn...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/776201521...
rating_numerator                                                             10
rating_denominator                                                           10
name                                                                   O'Malley
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 775, dtype: object

## Define

- Make a new column for stages and extract the stage from text where possible
- Drop the other 4 columns with stage names

## Code

In [40]:
# Extracting the dog stages from the text and creating a column stage to put into it.
twarch_clean['stage'] = twarch_clean.text.str.extract('(doggo|puppo|pupper|floofer)',expand=True)

In [41]:
#Dropping the columns with dog stages
twarch_clean.drop(['doggo','floofer','pupper','puppo'],axis=1,inplace=True)

## Test

In [42]:
twarch_clean.stage.value_counts()

pupper     265
doggo       93
puppo       37
floofer      4
Name: stage, dtype: int64

In [43]:
twarch_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          1524 non-null object
stage                         399 non-null object
dtypes: float64(4), int64(3), object(7)
memory usage: 257.8+ KB

## Define

- Remove unwanted characters from source urls

## Code

In [44]:
twarch_clean.source.unique()

array([ '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'], dtype=object)

In [45]:
#Extracting the urls excluding the first part
twarch_clean.source=twarch_clean.source.str.extract('(https?://[\w]+[\.][\w]+[\D]+)',expand=True)

In [46]:
twarch_clean.source.unique() # Now we can just split them at ".

array([ 'http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       'http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       'http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       'https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'], dtype=object)

In [47]:
for i in twarch_clean.index:
    twarch_clean.loc[i,'source'] = twarch_clean.loc[i,'source'].split('"')[0]

## Test

In [48]:
twarch_clean.source.unique()

array(['http://twitter.com/download/iphone', 'http://twitter.com',
       'http://vine.co', 'https://about.twitter.com/products/tweetdeck'], dtype=object)

## Define

- Convert timestamp column from string to date format

## Code

In [49]:
twarch_clean.timestamp = pd.to_datetime(twarch_clean.timestamp)

## Test

In [50]:
twarch_clean.timestamp.head()

0   2017-08-01 16:23:56
1   2017-08-01 00:17:27
2   2017-07-31 00:18:03
3   2017-07-30 15:58:51
4   2017-07-29 16:00:24
Name: timestamp, dtype: datetime64[ns]

## Define

- Remove rows where there is no expanded urls

## Code

In [51]:
twarch_clean=twarch_clean[~twarch_clean.expanded_urls.isnull()]

## Test

In [52]:
twarch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                      2297 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2297 non-null datetime64[ns]
source                        2297 non-null object
text                          2297 non-null object
retweeted_status_id           180 non-null float64
retweeted_status_user_id      180 non-null float64
retweeted_status_timestamp    180 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2297 non-null int64
rating_denominator            2297 non-null int64
name                          1524 non-null object
stage                         391 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 269.2+ KB

## Define

- Remove rows with retweets 
- remove unwanted columns

## Code

In [53]:
twarch_clean=twarch_clean[twarch_clean.retweeted_status_id.isnull()]

In [54]:
twarch_clean.drop(['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp','in_reply_to_status_id','in_reply_to_user_id'],axis=1,inplace=True)

## Test

In [55]:
twarch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2117 non-null int64
timestamp             2117 non-null datetime64[ns]
source                2117 non-null object
text                  2117 non-null object
expanded_urls         2117 non-null object
rating_numerator      2117 non-null int64
rating_denominator    2117 non-null int64
name                  1413 non-null object
stage                 356 non-null object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 165.4+ KB

## Define

- Tweets where rating denominator are wrong (11 and 2) can be corrected visually since its just 4 cases

## Code

In [56]:
twarch_clean[(twarch_clean['rating_denominator']!=10) & (twarch_clean['rating_denominator']%10!=0) ].index

Int64Index([516, 1068, 1662, 2335], dtype='int64')

In [57]:
twarch_clean.loc[516].text # There is no rating for this entry so we may drop this

'Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx'

In [58]:
twarch_clean=twarch_clean[twarch_clean.index != 516] # Removing the entry with no rating

In [59]:
twarch_clean.loc[1068].text

'After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ'

In [60]:
twarch_clean.loc[1068,'rating_numerator'] = 14

In [61]:
twarch_clean.loc[1068,'rating_denominator'] = 10

In [62]:
twarch_clean=twarch_clean[~twarch_clean.expanded_urls.isnull()]

In [63]:
twarch_clean.loc[1662].text

'This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5'

In [64]:
twarch_clean.loc[1662,'rating_numerator'] = 10

In [65]:
twarch_clean.loc[1662,'rating_denominator'] = 10

In [66]:
twarch_clean.loc[2335].text

'This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv'

In [67]:
twarch_clean.loc[2335,'rating_numerator'] = 9

In [68]:
twarch_clean.loc[2335,'rating_denominator'] = 10

In [69]:
twarch_clean[(twarch_clean['rating_denominator']!=10) & (twarch_clean['rating_denominator']%10!=0) ].index

Int64Index([], dtype='int64')

## Test

In [70]:
twarch_clean[(twarch_clean['rating_denominator']!=10) & (twarch_clean['rating_denominator']%10!=0) ].index

Int64Index([], dtype='int64')

In [71]:
twarch_clean[(twarch_clean['rating_denominator']!=10) ] # These are ratings for multiple dogs in the pic

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage
433,820690176645140481,2017-01-15 17:52:40,http://twitter.com/download/iphone,The floofs have been released I repeat the flo...,https://twitter.com/dog_rates/status/820690176...,84,70,NaN,NaN
902,758467244762497024,2016-07-28 01:00:57,http://twitter.com/download/iphone,Why does this never happen at my front door......,https://twitter.com/dog_rates/status/758467244...,165,150,NaN,NaN
1120,731156023742988288,2016-05-13 16:15:54,http://twitter.com/download/iphone,Say hello to this unbelievably well behaved sq...,https://twitter.com/dog_rates/status/731156023...,204,170,NaN,doggo
1165,722974582966214656,2016-04-21 02:25:47,http://twitter.com/download/iphone,Happy 4/20 from the squad! 13/10 for all https...,https://twitter.com/dog_rates/status/722974582...,4,20,NaN,NaN
1202,716439118184652801,2016-04-03 01:36:11,http://twitter.com/download/iphone,This is Bluebert. He just saw that both #Final...,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,NaN
1228,713900603437621249,2016-03-27 01:29:02,http://twitter.com/download/iphone,Happy Saturday here's 9 puppers on a bench. 99...,https://twitter.com/dog_rates/status/713900603...,99,90,NaN,pupper
1254,710658690886586372,2016-03-18 02:46:49,http://twitter.com/download/iphone,Here's a brigade of puppers. All look very pre...,https://twitter.com/dog_rates/status/710658690...,80,80,NaN,pupper
1274,709198395643068416,2016-03-14 02:04:08,http://twitter.com/download/iphone,"From left to right:\nCletus, Jerome, Alejandro...",https://twitter.com/dog_rates/status/709198395...,45,50,NaN,NaN
1351,704054845121142784,2016-02-28 21:25:30,http://twitter.com/download/iphone,Here is a whole flock of puppers. 60/50 I'll ...,https://twitter.com/dog_rates/status/704054845...,60,50,NaN,pupper
1433,697463031882764288,2016-02-10 16:51:59,http://twitter.com/download/iphone,Happy Wednesday here's a bucket of pups. 44/40...,https://twitter.com/dog_rates/status/697463031...,44,40,NaN,NaN
1634,684225744407494656,2016-01-05 04:11:44,http://twitter.com/download/iphone,"Two sneaky puppers were not initially seen, mo...",https://twitter.com/dog_rates/status/684225744...,143,130,NaN,pupper
1635,684222868335505415,2016-01-05 04:00:18,http://twitter.com/download/iphone,Someone help the girl is being mugged. Several...,https://twitter.com/dog_rates/status/684222868...,121,110,NaN,pupper
1779,677716515794329600,2015-12-18 05:06:23,http://twitter.com/download/iphone,IT'S PUPPERGEDDON. Total of 144/120 ...I think...,https://twitter.com/dog_rates/status/677716515...,144,120,NaN,NaN
1843,675853064436391936,2015-12-13 01:41:41,http://twitter.com/download/iphone,Here we have an entire platoon of puppers. Tot...,https://twitter.com/dog_rates/status/675853064...,88,80,NaN,pupper

## Define

- Tweets where rating is in decimal in text is wrongly represented in the rating numerator. Find these ratings and replace.

## Code

In [72]:
twarch_clean[twarch_clean.text.str.contains('([\d][.][\d][\][\d])')].index

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

Int64Index([695, 763, 1712, 1768, 2347], dtype='int64')

In [73]:
twarch_clean.loc[695].text

"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS"

In [75]:
twarch_clean.loc[340,'rating_numerator'] = 9.75

In [77]:
twarch_clean.loc[763].text

"This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq"

In [78]:
twarch_clean.loc[763,'rating_numerator'] = 11.27

In [82]:
twarch_clean.loc[1712].text

'Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD'

In [83]:
twarch_clean.loc[1712,'rating_numerator'] = 11.26

In [89]:
twarch_clean.loc[1712]

tweet_id                                                    6.80495e+17
timestamp                                           2015-12-25 21:06:00
source                               http://twitter.com/download/iphone
text                  Here we have uncovered an entire battalion of ...
expanded_urls         https://twitter.com/dog_rates/status/680494726...
rating_numerator                                                  11.26
rating_denominator                                                   10
name                                                                NaN
stage                                                            pupper
Name: 1712, dtype: object

In [91]:
twarch_clean.loc[763]

tweet_id                                                    7.78027e+17
timestamp                                           2016-09-20 00:24:34
source                               http://twitter.com/download/iphone
text                  This is Sophie. She's a Jubilant Bush Pupper. ...
expanded_urls         https://twitter.com/dog_rates/status/778027034...
rating_numerator                                                  11.27
rating_denominator                                                   10
name                                                             Sophie
stage                                                               NaN
Name: 763, dtype: object

## Define

- 1 Master dataframe for all three

In [92]:
twarch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 340
Data columns (total 9 columns):
tweet_id              2116 non-null float64
timestamp             2116 non-null datetime64[ns]
source                2116 non-null object
text                  2116 non-null object
expanded_urls         2116 non-null object
rating_numerator      2117 non-null float64
rating_denominator    2116 non-null float64
name                  1412 non-null object
stage                 356 non-null object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 245.4+ KB

In [93]:
twinfo_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 3 columns):
tweet_id         2341 non-null int64
fav_count        2341 non-null int64
retweet_count    2341 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

In [94]:
imagepreds_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [95]:
merge_1 = twarch_clean.merge(twinfo_clean,on='tweet_id')

In [96]:
twitter_archive_master = merge_1.merge(imagepreds_clean,on='tweet_id')

In [97]:
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1298 entries, 0 to 1297
Data columns (total 22 columns):
tweet_id              1298 non-null object
timestamp             1298 non-null datetime64[ns]
source                1298 non-null object
text                  1298 non-null object
expanded_urls         1298 non-null object
rating_numerator      1298 non-null float64
rating_denominator    1298 non-null float64
name                  876 non-null object
stage                 209 non-null object
fav_count             1298 non-null int64
retweet_count         1298 non-null int64
jpg_url               1298 non-null object
img_num               1298 non-null int64
p1                    1298 non-null object
p1_conf               1298 non-null float64
p1_dog                1298 non-null bool
p2                    1298 non-null object
p2_conf               1298 non-null float64
p2_dog                1298 non-null bool
p3                    1298 non-null object
p3_conf               1298 non-null float64
p3_dog                1298 non-null bool
dtypes: bool(3), datetime64[ns](1), float64(5), int64(3), object(10)
memory usage: 206.6+ KB

## Store

In [98]:
twitter_archive_master.to_csv('twitter_archive_master.csv',index=False)